@import url('https://fonts.bunny.net/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local('JetBrains Mono'),
          url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
          url('https://fa-cdn.bitinflow.com/fonts/JetBrainsMono-Regular.woff') format('woff');
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'JetBrains Mono', 'Montserrat', sans-serif;
}


/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

/**
 * Code Editor Styles
 */
code, kbd, .line-number {
  font-family: "JetBrains Mono", sans-serif!important;
  line-height: 1.2;
}
.token.operator {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.token.important,
.token.constant,
.token.keyword {
  color: #CC7832;
}
.token.function {
  color: #FFC66D;
}
.token.comment {
  color: #808080;
}
.token.string {
  color: #6A8759;
}
.token.variable {
  color: #9876AA;
}
.theme-default-content pre[class="language-php"] code
.theme-default-content pre[class="language-http"] code
.theme-default-content pre[class="language-vue"] code
.theme-default-content pre[class="language-javascript"] code
.theme-default-content pre[class="language-js"] code
.theme-default-content pre[class="language-bash"] code,
.theme-default-content pre[class="language-bash"] code > .token.function,
.token.operator,
.token.package,
.token.punctuation,
.token.class-name {
  color: #A9B7C6;
}

/**
 * Build Landing Page
 */
.landing-page-wrapper {
  height: calc(100vh - 58px);
  box-sizing: border-box;

  .theme-default-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0;
  }
}

table {
  width: 100%;
  display: table;
}